@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,::after,::before{
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.6;
    transition: all .3s  ease;
}
  

body{
    height: 100%;
    width: 100%;
    color: #EEEEEE;
    background-color: rgb(11, 22, 34);
    margin:0;
    padding:0;
    letter-spacing: 0.3px;
    min-width: 309px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color:rgb(201,215,227);
    transition: all 5. ease;
}

span{
    color:  #03dae6;
}

/* some modifications to silder, adding space in x axis on each slides  */
.slick-slide > div {
    margin: 0 8px;
    /* width: 100% !important; */
}

.slick-track{
    margin-left: 0px !important;
    margin-right: 0px !important;
    width:max-content !important;
}